In [1]:
# Dependencies
import pandas as pd
import numpy as np
import os

In [2]:
# Remove hawaii.sqlite if exists
os.remove("hawaii.sqlite")

In [3]:
# Use Pandas to read the cleaned measurements and stations CSV data
measurements = pd.read_csv ("Clean_Data\clean_hawaii_measurements.csv")
stations = pd.read_csv ("Clean_Data\clean_hawaii_stations.csv")

In [4]:
# Python SQL toolkit and Object Relational Mapper
import sqlalchemy
from sqlalchemy import create_engine, MetaData
from sqlalchemy.ext.declarative import declarative_base
from sqlalchemy import Column, Integer, String, Numeric, Text, Float, Date

In [5]:
# Create an engine to a SQLite database file called `hawaii.sqlite`
engine = create_engine("sqlite:///hawaii.sqlite")

In [6]:
 # Create a connection to the engine called `conn`
conn = engine.connect()

In [7]:
# Use `declarative_base` from SQLAlchemy to model the demographics table as an ORM class
Base = declarative_base()

# Create ORM Class `Measurement` for `measurements` table
class Measurement(Base):
    __tablename__ = 'measurements'

    index = Column(Integer, primary_key=True)
    station = Column(Text)
    date = Column(Text)
    prcp = Column(Float)
    tobs = Column(Integer)
   
    def __repr__(self):
        return f"id={self.id}, name={self.name}"
        #return f"index={self.index}, station={self.station}, date={self.date}, prcp={self.prcp}, tobs={self.tobs}"

# Create ORM Class `Station` for `stations` table
class Station(Base):
    __tablename__ = 'stations'
 
    station = Column(Text, primary_key=True)
    name = Column(Text)
    latitude = Column(Float)
    longitude = Column(Float)
    elevation = Column(Float)
   
    def __repr__(self):
        return f"id={self.id}, name={self.name}"
        #return f"index={self.index}, station={self.station}, date={self.date}, prcp={self.prcp}, tobs={self.tobs}"

In [8]:
 # Use `create_all` to create the Measurement anda Station tables in the database
Base.metadata.create_all(engine)

In [9]:
 # Use Orient='records' to create a list of data to write
Mdata = measurements.to_dict(orient='records')
Sdata =stations.to_dict(orient='records')

In [10]:
 # Data is just a list of dictionaries that represent each row of data
print(Mdata[:5])
print(Sdata[:5])

[{'index': 0, 'station': 'USC00519397', 'date': '2010-01-01', 'prcp': 0.08, 'tobs': 65}, {'index': 1, 'station': 'USC00519397', 'date': '2010-01-02', 'prcp': 0.0, 'tobs': 63}, {'index': 2, 'station': 'USC00519397', 'date': '2010-01-03', 'prcp': 0.0, 'tobs': 74}, {'index': 3, 'station': 'USC00519397', 'date': '2010-01-04', 'prcp': 0.0, 'tobs': 76}, {'index': 4, 'station': 'USC00519397', 'date': '2010-01-07', 'prcp': 0.06, 'tobs': 70}]
[{'station': 'USC00519397', 'name': 'WAIKIKI 717.2, HI US', 'latitude': 21.2716, 'longitude': -157.8168, 'elevation': 3.0}, {'station': 'USC00513117', 'name': 'KANEOHE 838.1, HI US', 'latitude': 21.4234, 'longitude': -157.8015, 'elevation': 14.6}, {'station': 'USC00514830', 'name': 'KUALOA RANCH HEADQUARTERS 886.9, HI US', 'latitude': 21.5213, 'longitude': -157.8374, 'elevation': 7.0}, {'station': 'USC00517948', 'name': 'PEARL CITY, HI US', 'latitude': 21.3934, 'longitude': -157.9751, 'elevation': 11.9}, {'station': 'USC00518838', 'name': 'UPPER WAHIAWA 874.3, HI US', 'latitude': 21.4992, 'longitude': -158.0111, 'elevation': 306.6}]

In [11]:
 # Use MetaData from SQLAlchemy to reflect the tables
metadata = MetaData(bind=engine)
metadata.reflect()

In [12]:
 # Save the reference to the `measurements` `stations` table as a variable called `Mtable` `Stable`
Mtable = sqlalchemy.Table('measurements', metadata, autoload=True)
Stable = sqlalchemy.Table('stations', metadata, autoload=True)

In [13]:
# Use `table.delete()` to remove any pre-existing data.
conn.execute(Mtable.delete()) 
conn.execute(Stable.delete())

In [14]:
 # Use `table.insert()` to insert the data into the table
# The SQL table is populated during this step
conn.execute(Mtable.insert(), Mdata)
conn.execute(Stable.insert(), Sdata)

In [15]:
 # Test that measurements table works by fetching the first 5 rows. 
conn.execute("select * from measurements limit 5").fetchall()

[(0, 'USC00519397', '2010-01-01', 0.08, 65),
 (1, 'USC00519397', '2010-01-02', 0.0, 63),
 (2, 'USC00519397', '2010-01-03', 0.0, 74),
 (3, 'USC00519397', '2010-01-04', 0.0, 76),
 (4, 'USC00519397', '2010-01-07', 0.06, 70)]

In [16]:
 # Test that stations table works by fetching the first 5 rows. 
conn.execute("select * from stations limit 5").fetchall()

[('USC00519397', 'WAIKIKI 717.2, HI US', 21.2716, -157.8168, 3.0),
 ('USC00513117', 'KANEOHE 838.1, HI US', 21.4234, -157.8015, 14.6),
 ('USC00514830', 'KUALOA RANCH HEADQUARTERS 886.9, HI US', 21.5213, -157.8374, 7.0),
 ('USC00517948', 'PEARL CITY, HI US', 21.3934, -157.9751, 11.9),
 ('USC00518838', 'UPPER WAHIAWA 874.3, HI US', 21.4992, -158.0111, 306.6)]